body {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
}

.quadrado {
  text-align: center;
  width: 100px;
  height: 100px;
  background: #fff;
  display: inline-block;
  padding: 40px;
  font-size: 100px;
  cursor: pointer;
  color: #fff;
}

.jogador, .vencedor {
  font-size: 30px;
  margin-top: 10px;
}

.vencedor {
  margin-bottom: 1rem;
}

.right-border  {
  border-right: 0.1em solid black;
}

.bottom-border {
  border-bottom: 0.1em solid black;
}

.button {
	width: 5rem;
	height: 2rem;
	margin-left: .2rem;
	box-shadow: 0 .2rem .3rem #222;
	border: .2rem solid #444;
	cursor: pointer;
  background: #eee;
}

.button:active {
	transform: translate(0, .3rem);
	box-shadow: none;
}

@media (max-width:1200px) {
  .quadrado {
    width: 5px;
    height: 5px;
    padding: 40px;
    font-size: 40px;
    cursor: pointer;  
  }
}
